.background{
	position: fixed;
	top: 0;
	left: 0;
	right:0;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.box{
	padding-top: 50px;
	width: 100%;
	height: 1000px;
	color: black;
}
.box li{
	text-align: center;
}

#logo{
	width: 200px;
	margin-left: -20px;
	margin-bottom: 15px;
}
.box .col-md-2 #logo >img{
 	width: 80px;
 	height: 80px;
}
.navbar-a{
	color: white;
	background-color:#FF561C;
	font-color:white;
	max-height: 50px;

}
.nav-stacked >li:hover{
  background-color: #FBE9E7;
  color: #FF561C;
  
}
.nav-stacked >li >a:hover{
  background-color: #FBE9E7;
  color: #FF561C;
}
.navbar-nav >li > a:hover{
  background-color: #FF561C;
  
}
.nav-sidebar >li >a{
	opacity: 0.7;
	color: black;
	font-size: 18px;
	padding: 15px 0 15px 22px;
}
.nav-sidebar >li.active{
	background-color: #FBE9E7;
	color: black;
}
.nav-sidebar >li.active >a{
	background-color: #FBE9E7;
	border: 0;
	color: #FF561C;
}

.nav-sidebar >li.active >a:hover, .nav-sidebar >li.active >a:focus{
	background-color: #FBE9E7;
	color: black;
	border: 0;
}
.nav-sidebar >li.active:hover, .nav-sidebar >li.active:focus{
	background-color: #FBE9E7;
	color: black;
}
.nav-tool{
	color: white;
	background-color: #FF561C

}
.nav-tool:hover{
	color:#737373;
	background-color: #FF561C;
}
.img{
	
	
	margin-left: 10px;
	margin-top: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
#img-box{
	
	height: 500px;
	padding-top: 50px;


}
.inner-text{
	padding-top: 30px;
	height: 400px;
	color: black;
	line-height: 32px;
	font-size: 20px;
}
#sidebar{
	border-right: 1px solid #e1e1e1;
	height: 500px;
}

#sidebar ul li {
	border-top: 1px solid #e1e1e1;
}
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  }
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
